@import "tailwindcss";

@theme {
  --color-army-green-500: #7f9161;
  --color-beige-100: #f8f4f0;
  --color-beige-500: #98908b;
  --color-blue-500: #3f82b2;
  --color-brown-500: #93674f;
  --color-cyan-500: #82c9d7;
  --color-gold-500: #cab361;
  --color-green-500: #277c78;
  --color-grey-100: #f2f2f2;
  --color-grey-300: #b3b3b3;
  --color-grey-500: #696868;
  --color-grey-900: #201f24;
  --color-magenta-500: #934f6f;
  --color-navy-500: #626070;
  --color-navy-grey-500: #97a0ac;
  --color-orange-500: #be6c49;
  --color-pink-500: #af81ba;
  --color-purple-500: #826cb0;
  --color-red-500: #c94736;
  --color-turquoise-500: #597c7c;
  --color-yellow-500: #f2cdac;
  --font-sans: var(--font-public-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@utility text-preset-1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
}

@utility text-preset-2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
}

@utility text-preset-3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-4-bold {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-5 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-5-bold {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 150%;
}
