@import "tailwindcss";

@theme {
  --color-army-green-500: #7f9161;
  --color-beige-100: #f8f4f0;
  --color-beige-500: #98908b;
  --color-blue-500: #3f82b2;
  --color-brown-500: #93674f;
  --color-cyan-500: #82c9d7;
  --color-gold-500: #cab361;
  --color-green-500: #277c78;
  --color-grey-100: #f2f2f2;
  --color-grey-300: #b3b3b3;
  --color-grey-500: #696868;
  --color-grey-900: #201f24;
  --color-magenta-500: #934f6f;
  --color-navy-500: #626070;
  --color-navy-grey-500: #97a0ac;
  --color-orange-500: #be6c49;
  --color-pink-500: #af81ba;
  --color-purple-500: #826cb0;
  --color-red-500: #c94736;
  --color-turquoise-500: #597c7c;
  --color-yellow-500: #f2cdac;
  --font-sans: var(--font-public-sans);
}

body {
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@utility text-preset-1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
}

@utility text-preset-2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
}

@utility text-preset-3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-4-bold {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-5 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility text-preset-5-bold {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 150%;
}

@utility input-field-wrapper {
  @apply px-5 py-3 gap-4 flex flex-row items-start justify-center;
}

@utility dashboard-layout {
  @apply min-h-dvh max-h-dvh grid transition-[grid-template-rows] lg:transition-[grid-template-columns] duration-500 ease-out grid-rows-[1fr_52px] md:grid-rows-[1fr_74px] lg:grid-rows-[1fr];

  &[data-minimized="true"] {
    @apply lg:grid-cols-[88px_1fr];
  }

  &[data-minimized="false"] {
    @apply lg:grid-cols-[300px_1fr];
  }
}

@utility dashboard-content {
  @apply max-w-full w-full min-h-0 h-full max-h-full overflow-y-auto px-4 py-6 md:px-10 md:py-8 flex flex-1 flex-col gap-8;
}

@utility sidebar {
  @apply hidden lg:flex flex-col gap-6 pb-6 rounded-r-2xl w-full bg-grey-900 max-h-full min-h-0 h-full;
}

@utility sidebar-header {
  @apply w-full py-10 px-8 gap-2 h-[100px] transition-all duration-1000;

  &[data-minimize="true"] {
    @apply w-[88px];
  }
}

@utility sidebar-menu-list {
  @apply flex flex-1 flex-col pr-6 gap-1;
}

@utility sidebar-menu-item {
  @apply relative w-full flex flex-1 flex-row gap-4 h-14 px-8 py-4 items-center justify-start cursor-pointer hover:text-grey-100 text-grey-300;
  &[data-active="true"] {
    @apply bg-beige-100 rounded-xl;
  }

  & div:nth-of-type(1) {
    @apply w-6 h-6;
  }

  & svg {
    @apply w-6 h-6;
  }

  &[data-active="true"] svg {
    @apply text-green-500;
  }

  & span {
    @apply text-preset-3 transition-all duration-500 max-h-full overflow-hidden;
  }

  &[data-active="true"] span {
    @apply text-grey-900;
  }

  &[data-minimized="true"] span {
    @apply max-w-0;
  }
}

@utility sidebar-expand-toggle {
  @apply text-preset-3 rounded-r-2xl py-4 px-8 flex flex-row w-full justify-start items-center gap-4 h-14 cursor-pointer hover:text-grey-100 text-grey-300;

  & div:nth-of-type(1) {
    @apply w-6 h-6;
  }

  & svg {
    @apply w-6 h-6 transition-all duration-500;
  }

  &[data-minimized="true"] svg {
    @apply rotate-180;
  }

  & span {
    @apply text-preset-3 transition-all duration-500 max-h-full overflow-hidden;
  }

  &[data-minimized="true"] span {
    @apply max-w-0;
  }
}

@utility bottom-nav {
  @apply w-full h-full px-4 py-2 md:px-10 bg-grey-900 lg:hidden;
}

@utility bottom-nav-menu-item {
  @apply relative w-full h-full flex flex-col justify-start items-center gap-1 pt-2 pb-3 px-0 text-grey-300 text-preset-5-bold;

  & div:nth-of-type(1) {
    @apply w-6 h-6;
  }

  & svg {
    @apply w-6 h-6;
  }

  &[data-active="true"] svg {
    @apply text-green-500;
  }

  & span {
    @apply hidden md:block md:text-preset-5-bold;
  }

  &[data-active="true"] span {
    @apply text-grey-900;
  }

  &[data-active="true"] {
    @apply bg-beige-100 rounded-t-xl;
  }
}

@utility medium-card {
  @apply p-6;
}

@utility big-card {
  @apply p-8;
}

@utility card {
  @apply rounded-xl bg-white p-6 md:p-8;
}

@utility stack-6 {
  @apply flex flex-col gap-6;
}

@utility row-between {
  @apply flex flex-row items-center justify-between;
}

@utility divider-h {
  @apply h-px w-full bg-grey-100;
}

@utility progress-track {
  @apply h-2 w-full bg-grey-100 rounded-full overflow-hidden;
}
